<%- include("../partials/_navbarAdmin") %>

<h1>Edit Your Profile</h1>

<form
  action="/auth/edit?_method=PUT"
  method="POST"
  enctype="multipart/form-data"
>
  <label>Username:</label>
  <input type="text" name="username" value="<%= user.username %>" />
  <br />

  <label>Email:</label>
  <input type="email" name="email" value="<%= user.email %>" />
  <br />

  <h3>Change Password</h3>
  <label>Current Password:</label>
  <input type="password" name="currentPassword" />
  <br />

  <label>New Password:</label>
  <input type="password" name="newPassword" />
  <br />

  <label>Update Profile Picture:</label>
  <input type="file" name="image" />

  <br />

  <button type="submit">Update Profile</button>
</form>
