<head>
  <link rel="stylesheet" href="/style/signin.css" />
</head>
<%- include("../partials/_navbar") %>
<div class="form">
  <div class="container">
    <h1>Sign In</h1>
    <form action="/auth/sign-in" method="post">
      <input
        placeholder="Username"
        type="text"
        name="username"
        id="username"
        class="field"
      />

      <br />

      <input
        placeholder="Password"
        type="password"
        name="password"
        id="password"
        class="field"
      />

      <br />
      <button type="sumbit" class="field sign">Sign in</button>
    </form>
  </div>
</div>
