<head>
  <link rel="stylesheet" href="/style/signin.css" />
</head>
<%- include("../partials/_navbar") %>
<div class="signIn">
  <div class="container">
    <h1>Sign In</h1>
    <div class="">
      <form action="/auth/sign-in" method="post">
        <input
          placeholder="Username"
          type="text"
          name="username"
          id="username"
          class=""
        />

        <br />

        <input
          placeholder="password"
          type="password"
          name="password"
          id="password"
          class=""
        />

        <br />
        <button type="sumbit" class="">Sign in</button>
      </form>
    </div>
  </div>
</div>
