<head>
  <link rel="stylesheet" href="/style/signin.css" />
</head>

<%- include("../partials/_navbar") %>

<h1 class="newAccount">Create a New Account</h1>
<div class="form">
  <div class="container">
    <h1>Sign Up</h1>

    <form action="/auth/sign-up" method="POST" enctype="multipart/form-data">
      <input
        placeholder="Username"
        type="text"
        name="username"
        id="username"
        class="field"
      />

      <br />

      <input
        placeholder="Your Email"
        type="text"
        name="email"
        id="email"
        class="field"
      />

      <br />

      <input
        placeholder="Password"
        type="password"
        name="password"
        id="password"
        class="field"
      />

      <br />

      <input
        placeholder="Confirm Password"
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        class="field"
      />
      <br />
      <div class="image">
        <div class="upload-text">Click to upload profile image</div>

        <div
          class="upload-area"
          onclick="document.getElementById('imageInput').click()"
        >
          <img
            id="previewImage"
            src="#"
            alt="Preview"
            class="preview-img"
            style="display: none"
          />

          <div class="upload-icon">+</div>
          <input
            type="file"
            id="imageInput"
            name="image"
            accept="image/*"
            class="file-input"
          />
        </div>
      </div>

      <button type="submit" class="field sign">Sing up</button>
    </form>
  </div>
</div>
