<%- include("../partials/_navbarAdmin.ejs") %>

<h1>admin Sign In</h1>

<form action="/movies" method="post">
  <label for="username">username: </label>
  <input type="text" name="username" id="username" />

  <br />

  <label for="password">Password: </label>
  <input type="password" name="password" id="password" />

  <br />
  <button type="sumbit">admin Sign in</button>
</form>
